<header>
  <div class="logo">ON</div>
  <div class="header-right-controls">
    <div class="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav>
      <div class="close-menu-button">&times;</div>
      <a href="index.html">Home</a>
      <a href="resume.html">Resume</a>
      <a href="financial.html">Financial Services</a>
      <a href="data-ai.html">Data & AI</a>
      <a href="advocacy.html">Advocacy</a>
      <a href="philosophy.html">Philosophy</a>
      <a href="contact.html">Contact</a>
    </nav>
    <div class="menu-overlay"></div>
    <div class="theme-switch-wrapper">
      <label class="theme-switch" for="checkbox">
        <input type="checkbox" id="checkbox" />
        <div class="slider round">
          <span class="sun-icon">☀️</span>
          <span class="moon-icon">🌙</span>
        </div>
      </label>
    </div>
  </div>
</header> 